body{
	font-family:"Arial Narrow";
	font-size: 14px;
	background-image: url('/images/deska.jpg');
}

#kontener
{
  width: 960px;	
  margin: 0 auto;
  
}
#kontener-logowanie
{
  position:relative;
  margin: 0 auto;
  width: 600px;	
  height: 815px;
  background-image: url('/images/dziennik_new.jpg');
  background-repeat:no-repeat;
  
}
#naglowek{
	width: 960px;
	height: 100px;	
	
}

#menu{
	width: 960px;
	height: 30px;
	margin: 0 auto;
	text-align:center;
	background-image: url('/images/menu.png');
	background-repeat:no-repeat;
}

#content{
	width: 960px;
	
}

#logowanie{
	position:absolute;
	width: 280px;
	padding: 250px 0 0 160px;
	text-align: center;
	font-family:"Times New Roman",Georgia,Serif;
	
	
	}

#stopka{
	position:relative;
	width: 960px;
	height: 50px;
	background-image: url('/images/pen.png');
	background-repeat:no-repeat;
	margin-top: 10px;
	
	
	
	
}
#tekst_stopka{
	position:absolute;
	
	width: 240px;
	height:20px;
	font-family:"Times New Roman",Georgia,Serif;
	font-size: 10px;
	color: purple;
	padding: 10px 0 0 260px;
}
