body{
	font-family:"Arial Narrow";
	font-size: 14px;
	background-image: url('/images/deska.jpg');
}

#kontener
{
  width: 960px;	
  margin: 0 auto;
  
}
#kontener-logowanie
{
  position:relative;
  margin: 0 auto;
  width: 600px;	
  height: 841px;
  background-image: url('/images/dziennik.png');
  background-repeat:no-repeat;
  
}
#naglowek{
	width: 960px;
	height: 100px;	
	
}

#menu{
	width: 960px;
	height: 30px;
	margin: 0 auto;
	text-align:center;
	background-image: url('/images/menu.png');
	background-repeat:no-repeat;
}

#content{
	width: 960px;
	
}

#logowanie{
	position:absolute;
	width: 280px;
	padding: 270px 0 0 165px;
	text-align: center;
	
	
	}

#stopka{
	width: 960px;
	height: 80px;
	margin-top: 30px;	
	
}